<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-3">                
                <p><i class="fas fa-globe-europe"></i>Warsaw</p>
            </div>
            <div class="col-xl-3 col-md-6">                
                <a href="mailto:contact@madbunny.pl"><p><i class="fas fa-at"></i>contact@madbunny.pl</p></a>
            </div>
            <div class="col-xl-3 col-md-3">                
                <a href="https://www.instagram.com/alex.metan/" target="_blank"><p><i class="fab fa-instagram"></i>alex.metan</p></a>
            </div>
        </div>
    </div>
<div class="copyright">Designed by MadBunny</div>
</footer>