.special-bg{
    position: absolute;
    width: 100%;
    top: -15vh;
    z-index: -1;
}
.special-bg img{
    width: 100%;
}
.container{position: relative;z-index: 20;}
.my-skills{
    background: #fff;
    padding: 0 30px 30px;
    margin: 20px 0;
    box-shadow: 2px 15px 26px -8px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.my-skills i{font-size: 45px;margin-top: -45px;}
p{text-align: justify;}
.my-skills img{
    margin: auto;
    display: block;
}
h5{margin-top: 10px;margin-bottom: 10px;font-weight: 600;}